body,
:root {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.healthBar {
  position: absolute;
  display: inline-block;
  width: 99.2%;
  margin-top: 40px;
}

.healthbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playersBar {
  width: 40%;
  height: 60px;
  position: relative;
}

.timerBox {
  width: 130px;
  height: 130px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.gameMessage {
  position: absolute;
  color: aliceblue;
  display: none;
  justify-content: center;
  margin-top: 20rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}
